/* Lane styles */
.kanban {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: grey;
    height: 100%;
}

button {
    color: white;
    border-radius: 15px;
    border: none;
}
.addLane {
    background-color: #4834d4;
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 20px;
    text-align: center;
}

.Lanes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Lane {
    background-color: #f0932b;
    margin: 1%;
    width: 30%;
    min-height: 300px;
    float: left;
}

.LaneHeader {
   background-color: white;
   margin: 0 auto;
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
}

.LaneAddNote button,
.LaneDelete button {
    padding: 10px;
    width: 100px;
    height: 50px;
}

.LaneAddNote button {
   background-color: #6ab04c;
}
.LaneName {
    padding: 20px;
    font-size: 1.5rem;
}

.LaneDelete button {
    background-color: red;
}